.cndkbeforeafter {
  margin: 0 0 0.2rem 0;
  cursor: ew-resize;
}

/* Theme Dark */
.cndkbeforeafter-theme-dark .cndkbeforeafter-seperator {
  background: rgba(0, 0, 0, 0.5) !important;
}

.cndkbeforeafter-theme-dark .cndkbeforeafter-seperator > div > span {
  border-color: rgba(0, 0, 0, 0.5) !important;
  background: rgba(0, 0, 0, 0.5) !important;
}

.cndkbeforeafter-theme-dark .cndkbeforeafter-seperator > span::after,
.cndkbeforeafter-theme-dark .cndkbeforeafter-seperator > span::before {
  border-color: rgba(0, 0, 0, 0.5) !important;
}

.cndkbeforeafter-theme-dark :hover > div > span,
.cndkbeforeafter-theme-dark :active > div > span {
  background: rgba(0, 0, 0, 0.5) !important;
}

.cndkbeforeafter-theme-dark .cndkbeforeafter-item-before-text,
.cndkbeforeafter-theme-dark .cndkbeforeafter-item-after-text {
  background: rgba(0, 0, 0, 0.5) !important;
  color: white !important;
}

.cndkbeforeafter-item-before-text,
.cndkbeforeafter-item-after-text {
  padding: 0.2rem 0.8rem 0.2rem 0.8rem;
  font-size: 1rem;
}

.cndkbeforeafter-extra-small-text {
  padding: 5px !important;
  bottom: 0;
}
